.query-input::placeholder {
  color: white; /* Set placeholder text color to white */
}
/* .d-img{
  margin-top:"95px";
   height:"340px";
   width:"50vw"
} */
 /* .ai img{
  margin-top: "95px";
   height: "340px";
    width: "50vw" ;
 } */
 .ai {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.d-img {
  margin-top: 95px;
  height: 340px;
  width: 50vw;
}
/* @media (max-width:468px){
  .d-img{
    min-width:300px;
    margin-left: 10px;
  }
  .submit-button{
    max-width:150px;
    left:-8px;
    font-weight: 0;
  }
} */

.d-img-mobile {
  max-width: 100%;
}

.query-input {
  position: absolute;
  bottom: 39px;
  left: 55%;
  transform: translateX(-50%);
  width: 60%;
  background-color: #6aa2e3;
  padding: 10px;
  font-size: 16px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 1;
}

.query-container {
  position: relative;
  text-align: center;
}

.error-message {
  margin-top: 20px;
  padding: 10px;
  color: red;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 5px;
}

.response-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.response-container h3 {
  margin: 0;
}

.submit-button {
  background-color: white;
  color: black;
  font-size: 1.0rem;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1.5px solid white;
  position: absolute;
  margin-top: -90px;
  margin-left: 50px;
  cursor: pointer;
}

.submit-button:disabled {
  cursor: not-allowed;
}
@media (max-width:468px){
  .d-img{
    min-width:300px;
    margin-left: 10px;
  }
  .submit-button{
    max-width:110px;
    left:17px;
    font-size:0.8rem;
    margin-top:-120px
  }
  .ai{
    margin-top: -40px;
  }
}